#VIRTUAL ENVIRONMENT
/venv-parser/*
/venv-fasta_slicer/*

#TEST_Files
/cmscan_rfam/tests/*

#MY_FILES
/Icon?
/parser_cmscan/files/*
/database/files/*
/fasta_tools/files/*
/results/files/*
/cmscan_results/clean_tables/*
/cmscan_results/query_files/*
/cmscan_results/plots/*
/new_fams/files/*
/rfamp.sublime-project
/rfamp.sublime-workspace