#VIRTUAL ENVIRONMENT
/venv-parser/*
/venv-fasta_slicer/*

#TEST_Files
/cmscan_rfam/tests/*

#MY_FILES
/rfamp.sublime-project
/rfamp.sublime-workspace
/Icon?
/parser_cmscan/files/*
/database/files/*
/database/parser_two/files/*
/fasta_tools/files/*
/results/files/*
/cmscan_results/clean_tables/*
/cmscan_results/query_files/*
/cmscan_results/additional_results/files/*
/cmscan_results/additional_results/confhits/files/*
/cmscan_results/additional_results/lostscan/files/*
/cmscan_results/plots/*
/new_fams/files/*
/new_fams/_dep_pub_approach/*
/new_fams/_dep_nhmmer_approach/*
/new_fams/nhmmer_approach/_07_dep/*
/new_fams/nhmmer_approach/files/*