#VIRTUAL ENVIRONMENT
/venv-parser/*
/venv-fasta_slicer/*

#TEST_Files
/cmscan_rfam/tests/*

#MY_FILES
/parser_cmscan/files/*
/database/files/*
/fasta_slicer/files/*
/results/files/*
/cmscan_results/clean_tables/*
/cmscan_results/query_files/*